 .row{
      display: flex;
    }
    .card img{
      height: 300px;
      width: 300px;
      margin-left: 240px;
      margin-top: 30px;
    }
    .content
    {
      margin-left: 350px;
    }
    .content a{
      text-decoration: none;
      color: black;
      font-size: 25px;
      font-weight: bold;
    }
    .footer ul{
      list-style-type:none ;
      margin-top: 40px;
      font-size: 15px;
    }
    .footer ul li{
      margin-top: 15px;
    }
    .footer{
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
     height: 180px;
     background-color: black;
     color: white;
    }
    .list{
      font-weight: bold;
      font-size: 25px;
    }